include ./head.pug
.breathe

    include ./logo.pug

    div.center.text.breathe
        a.button(href='https://github.com/login/oauth/authorize?scope=user:email&client_id=b0be9c7b702ca2355054') login with github

